<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Enter the number of random values you want generated</h1>

    <!-- Create a form with thymeleaf action and reference the input text to the object -->
    <form action="#" th:action="@{/random/generate}" th:object="${numObj}" method="post">
        <p>

            <!-- Binds the Number object to the input text -->
            <input type="text" th:field="${numObj.num}" />
            <input type="submit" value="Generate" />
        </p>


    </form>

</body>

</html>